.inputField input{
    height: 3rem;
    width: 20rem;
    font-family: sans-serif;
    font-size: 1rem;
    border-radius: 6px;
}

.login-container{
    display: grid;
    place-items: center;
    row-gap: 1rem;
}

.input-container{
    display: grid;
    row-gap: 0.5rem;
}

.register:hover{
    cursor: pointer;
    color: rgb(95, 95, 211);
}

.login:hover{
    color:rgb(255, 166, 0) ;
}